.header{
  height: 41px;
  background:#fff;
  padding: 18px 0 15px;
}
.header .head-l .logo{
  margin-right: 34px;
  position: relative;
  z-index: 1;
}
.header .head-l .logo img {
  display: block;
  height: 36px;
}
.header .head-l .naver-list li{
  float: left;
  line-height: 36px;
  margin-right: 24px;
}
.header .naver-list .img{
  display: block;
  height: 24px;
  margin-top: 7px;
}
.header .naver-list .img img {
  height: 100%;
}
.header li.img a:hover{
  opacity: .8;
}
.header .naver-list li a{
  color: #333;
}
.header .naver-list li a:hover{
  color: #ca141d;
}
.header .head-r .search{
  line-height: 1;
  width: 238px;
  height: 28px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  position: relative;
  z-index: 310;
  margin-top: 5px;
}
.header .head-r .search:hover{
  border: 1px solid #c9c9c9;
}
.header .head-r .search input{
  outline: none;
  border-radius: 15px;
  border: none;
  background: #f0f0f0;
  height: 100%;
  text-indent: 1em;
  color: #3a3a3a;
}
.header .head-r .search i{
  position: absolute;
  right: 10px;
  top: 0;
  width: 25px;
  height: 30px;
  overflow: hidden;
  background: url(../img/icon-common.svg) no-repeat;
  background-position: -136px 3px;
}
.header .head-r .search:hover i{
  background-position: -156px 3px;
}
.header .head-r .search .recommend{
  position: absolute;
  right: 40px;
  top: 8px;
  font-size: 12px;
  color: #999;
}
.header .head-r .search span{
  margin-right: 8px;
  cursor: pointer;
}
.header .head-r .search span:hover{
  color: #333;
}