#nav {
  height: 36px;
  background-color: #2e2828;
}
#nav .head-list {
  height: 36px;
}
#nav li {
  float: left;
  height: 100%;
  padding: 0 8px;
  position: relative;
}
#nav li a {
  color: #afafaf;
  font-size: 12px;
  line-height: 36px;
}
#nav a:hover {
  color: #fff;
}
#nav li:first-child{
  padding-left: 0;
}
#nav li:first-child::before{
  content: none;
}
#nav li::before{
  content: '';
  width: 1px;
  height: 10px;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  background: #414141;
}
#nav .s-dropdown{
  position: relative;
  z-index: 310;
  margin: 0 -9px;
  height: 36px;
}
#nav .s-dropdown .show{
  position: relative;
  padding: 0 12px 0 10px;
  height: 36px;
  cursor: pointer;
}
#nav .s-dropdown .icon-dropdown {
  position: relative;
  padding-right: 15px;
}
#nav .s-dropdown .icon-dropdown::before{
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  right: -5px;
  background: url(../img/icon-common.svg);
  background-position: -72px 0;
}
#nav .s-dropdown:hover{
  margin: 0 -9px;
  box-shadow: 0 2px 36px 0 rgb(0 0 0 / 7%);
  z-index: 311;
}
#nav .s-dropdown:hover .hide {
  display: block;
}
#nav .s-dropdown:hover .show{
  position: relative;
  background: #fff;
  z-index: 100;
}
#nav .s-dropdown:hover .show .icon-dropdown{
  position: relative;
  color: #cb242b;
}
#nav .s-dropdown:hover .icon-dropdown::before{
  background-position: -85px 0;
}
#nav .s-dropdown .hide {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 36px 0 rgb(0 0 0 / 7%);
  border-radius: 8px 0 8px 8px;
}
#nav .s-dropdown .hide .dropdown{
  width: 119px;
  padding: 6px 0 12px 0;
  text-align: center;
  line-height: 32px;
}
#nav .s-dropdown .hide .dropdown a{
  width: 85px;
  height: 32px;
  padding: 6px 0 12px 0;
  text-align: center;
  line-height: 32px;
}
#nav .dropdown a:hover{
  color: #cb242b;
}
#nav .s-dropdown .hide .service{
  width: 85px;
  padding: 6px 0 12px 0;
  text-align: center;
  line-height: 32px;
}
#nav .s-dropdown .dropdown-navs{
  width: 893px;
  background-color: #fff;
  line-height: 20px;
  color: #777;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;
}
#nav .s-dropdown .dropdown-navs .dropdown-navs-icon{
  margin: 37px 46px 0 49px;
  width: 50px;
  height: 73px;
  font-size: 12px;
  color: #777;
}
#nav .dropdown-navs .dropdown-navs-icon span{
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/icon-common.svg) 160px 0;
}
#nav .dropdown-navs .dropdown-navs-icon a:hover{
  color: #cb242b;
}
#nav .dropdown-navs dl{
  padding-top: 20px;
  width: 185px;
  margin: 22px 0 20px;
}
#nav .dropdown-navs dl dt {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}
#nav .dropdown-navs dl dd{
  width: 80px;
  height: 20px;
  float: left;
  line-height: 20px;
  margin-bottom: 4px;
}
#nav .dropdown-navs a {
  color: #777;
  line-height: 20px;
}
#nav .dropdown-navs a:hover{
  color: #cb242b;
}
#nav .s-dropdown .cloum {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#nav .shopcart {
  background-color: #424242;
}
#nav .shopcart .icon-minicart {
  position: relative;
  padding-left: 23px;
  display: block;
  white-space: nowrap;
}
#nav .shopcart:hover .icon-minicart::before{ 
  background-position: -119px -4px;
}
#nav .shopcart:hover .show a{
  color: #cb242b;
}
#nav .shopcart .icon-minicart::before{
  content: "";
  display: block;
  width: 20px;
  height: 12px;
  background: url(../img/icon-common.svg);
  background-position: -99px -4px;
  position: absolute;
  top: 11px;
  left: -3px;
  line-height: 12px;
}
#nav .hide .dropdown-code {
  padding: 20px 0 20px 0;
  width: 244px;
}
#nav .dropdown-code .dropdown-code-detail{
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
#nav .dropdown-code .dropdown-code-detail img {
  width: 90px;
  height: 90px;
  display: block;
  float: left;
  margin-right: 12px;
}
#nav .dropdown-code .code-info {
  float: left;
  line-height: 18px;
}
#nav .dropdown-code h2{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}
#nav .dropdown-code .code-info .code-info-red {
  color: #cb242b;
  font-size: 12px;
}
#nav .dropdown-code .code-info span {
  width: 32px;
  height: 32px;
  margin: 5px 5px 0 0;
  display: block;
  background: url(../img/icon-common.svg) no-repeat;
}
#nav .dropdown-code .code-info .icon-android{
  background-position: 0 0;
}
#nav .dropdown-code .code-info .icon-ios {
  background-position: -40px -113px;
}
#nav .dropdown-code .code-info .icon-wechat{
  background-position: -33px 0;
} 
#nav .dropdown-code p {
  color: #777;
  font-size: 12px;
}
#nav .hide .dropdown-minicart {
  color: #3a3a3a;
}
#nav .hide .dropdown-minicart .minicart-empty {
  width: 460px;
  padding: 50px 0 50px;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  color: #a4a4a4;
  display: none;
}
#nav .minicart-empty .icon-minicart {
  width: 100px;
  height: 100px;
  padding-left: 0;
  margin: 0 auto;
  display: block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 16px;
}
#nav .shopcart .minicart-empty .icon-minicart::before{
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-position: -262px 0;
  position: static;
}
#nav .shopcart .minicart-list {
  width: 460px;
  margin-bottom: 60px;
  min-height: 168px;
  max-height: 458px;
  overflow-x: hidden;
  overflow-y: auto;
  /* 自定义滚动条 */
  scrollbar-color: #eee transparent;
  scrollbar-width: thin;
}
.minicart-list::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
  border-radius: 10px;
}
.minicart-list::-webkit-scrollbar-thumb{
  background-color: #eee;
}
.minicart-list::-webkit-scrollbar-thumb:hover{
  background-color: #ccc;
}
#nav .minicart-goods .minicart-goods-item {
  position: relative;
  float: none;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 20px 20px 0 12px;
}
#nav .minicart-goods li::before{
  content: none;
}
#nav .minicart-goods .minicart-goods-item .minicart-goods-item-l {
  margin-bottom: 20px;
}
.minicart-goods-item .pro-info {
  padding-bottom: 20px;
}
.minicart-goods-item .checked {
  width: 20px;
  height: 20px;
  margin: 23px 16px 0 12px;
}
.minicart-goods-item input {
  display: none;
}
.minicart-goods-item .checked .icon-choose-normal{
  width: 18px;
  height: 18px;
  display: block;
  border: 1px solid #979797;
  border-radius: 10px;
  background-image: none!important;
  cursor: pointer;
}
.minicart-goods-item .checked .icon-choose{
  width: 20px;
  height: 20px;
  background-color: #ca141d;
  border-radius: 10px;
  position: relative;
}
.minicart-goods-item .checked .icon-choose::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icon-common.svg) no-repeat;
  background-position: -222px 0;
  z-index: 1;
}
.minicart-goods-item .img {
  width: 64px;
  height: 64px;
}
.minicart-goods-item img{
  width: 100%;
  height: 100%;
}
.minicart-goods-item .pro-info .title {
  width: 298px;
  margin: 0;
}
#nav .pro-info .title a{
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #3a3a3a;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#nav .pro-info .title a:hover{
  color: #ca141d;
}
#nav .pro-info .p-status {
  width: 298px;
  text-align: right;
  padding-top: 20px;
  font-size: 14px;
}
#nav .pro-info .p-price {
  color: #333;
  margin-left: 7px;
  margin-right: 7px;
  display: inline-block;
  min-width: 64px;

}
#nav .pro-info .p-price b {
  font-weight: 400;
}
#nav .pro-info .p-price strong {
  font-weight: 400;
  font-weight: normal;
  min-width: 32px;
  display: inline-block;
}
#nav .pro-info .p-price i {
  font-style: normal;
}
.minicart-list .settlement {
  background: #f0f0f0;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}
.minicart-list .settlement .settlement-l {
  color: #3a3a3a;
  font-size: 14px;
  float: left;
  margin-left: 23px;
  margin-top: 10px;
}
.minicart-list .settlement .settlement-l p {
  color: #888;
  font-size: 12px;
}
.minicart-list .settlement .settlement-l span {
  display: block;
  line-height: 1.2
}
.minicart-list .settlement .settlement-l b{
  color: #ca141d;
  font-size: 24px;
  font-weight: normal;
  margin-right: 7px;
  margin: 0;
  padding: 0;
}
#nav .minicart-list .settlement .settlement-btn {
  color: #FFF;
  background-color: #ca151e;
  font-size: 16px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
  margin: 10px 20px 0 0;
}
#nav .minicart-list .settlement .settlement-btn:hover{
  background: #d5444b;
  color: #fff;
}