<!-- 轮播图 -->
<div class="banner container-fluid">
  <!-- 图片 -->
  <ul class="imgBox">
    <li>
      <a href="javascript:;">
        <img src="../img/banner1.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../img/banner2.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../img/banner3.png" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../img/banner4.jpg" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../img/banner5.png" alt="">
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../img/banner6.jpg" alt="">
      </a>
    </li>
  </ul>
  <!-- 指示器 -->
  <div class="dotBox">
    <ul class="clearfix">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- 操作按钮 -->
  <div class="cont">
    <div class="prve"></div>
    <div class="next"></div>
  </div>
  <!-- 遮罩 -->
  <div class="mask">
    <span></span>
  </div>
  <!-- 导航 -->
  <div class="naver-main">
    <div class="container clearfix">
      <div class="siderBar">
        <ul>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">手机</a>
              </div>
            </div>
            <div class="category-panels category-panels-2">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/14651510730611515641.png" alt="">
                    <p>HUAWEI Mate系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/Dfv6Z1jNUpkSdQEfjU40.png" alt="">
                    <p>HUAWEI P系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/JtWD6wvaxu0qmHbN2tbO.png" alt="">
                    <p>HUAWEI nova系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/wJHIfRVWj3kjLp9RoTBN.png" alt="">
                    <p>华为畅享系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/93515799859519751539.png" alt="">
                    <p>HUAWEI 麦芒系列</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">智能穿戴与运动健康</a>
              </div>
            </div>
            <div class="category-panels category-panels-2">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/bvJbZEMQTr1qy29qnvxZ.png" alt="">
                    <p>智能手表</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/sYl3EZsnaJp74kySK0uW.png" alt="">
                    <p>儿童手表</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/Op9zTFnetpE2UBz72lZ6.png" alt="">
                    <p>智能手环</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/7rB1eW3yTzlmsJxUhz4o.png" alt="">
                    <p>VR</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/svCuLCsIylj3EagzlFJm.png" alt="">
                    <p>智能体脂秤</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/71700453489515400717.png" alt="">
                    <p>穿戴配件</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/98863233611613236889.png" alt="">
                    <p>运动健身</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">耳机音箱眼镜</a>
              </div>
            </div>
            <div class="category-panels category-panels-2">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/62195671320617659126.png" alt="">
                    <p>真无线耳机</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/8GZSNEOIyFTlKHGXJIUp.jpg" alt="">
                    <p>有线耳机</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/65908671320617680956.png" alt="">
                    <p>蓝牙耳机</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/15350771320617705351.png" alt="">
                    <p>蓝牙音箱</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/DeNI79kOsHbW8IXBE7Rh.png" alt="">
                    <p>智能眼镜</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/ponGt6tOncpW9tyJZhwC.png" alt="">
                    <p>智能音箱</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">智慧屏</a>
              </div>
            </div>
            <div class="category-panels">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/jCygCJMv6ginekIsCBmu.png" alt="">
                    <p>华为智慧屏</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/17005453489515450071.png" alt="">
                    <p>智慧配件</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">电脑</a>
              </div>
            </div>
            <div class="category-panels category-panels-2">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/RfnzRjvwIx1VTVm8xHfk.png" alt="">
                    <p>华为MateBook X系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/plqBwqiWNT7w3S1oHify.png" alt="">
                    <p>华为MateBook系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/tDI1s1C6u0UNK3kpjX35.png" alt="">
                    <p>华为MateBook D系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/91536469069516463519.png" alt="">
                    <p>华为MateBook B系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/01547132811613174510.png" alt="">
                    <p>华为显示器</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/01835522811612553810.png" alt="">
                    <p>华为台式机</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/76194353489515349167.png" alt="">
                    <p>个人电脑配件</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/53990553489515509935.jpg" alt="">
                    <p>电脑包</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">平板</a>
              </div>
            </div>
            <div class="category-panels">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/SoXonWnoeMUuz9KZRGyw.png" alt="">
                    <p>华为MatePad 系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/xrtZtMAu7qwZRV7drG4A.png" alt="">
                    <p>华为畅享 系列</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/21657453489515475612.png" alt="">
                    <p>平板配件</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">智能路由</a>
              </div>
            </div>
            <div class="category-panels">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/CSkYxTgopbtV6bLHOxWq.png" alt="">
                    <p>智能路由</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/httvqlH4j44xjH2Fkoeb.png" alt="">
                    <p>移动路由</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">配件</a>
              </div>
            </div>
            <div class="category-panels category-panels-3">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/iXXgaQhk3RhRNcb3dUhX.png" alt="">
                    <p>充电器/线材</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/jSg15QyIzY9GE4mVOHaI.jpg" alt="">
                    <p>移动电源</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/UkPqRhFdsfuw0Mgon0lW.png" alt="">
                    <p>自拍杆/支架</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/e7VsKW9NLDvxDXhBMFZD.png" alt="">
                    <p>摄像机/镜头</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/B7R6qLbvn8J6DbwODyWS.png" alt="">
                    <p>生活周边</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/RyT80PAF3dD0VUy9XTgz.png" alt="">
                    <p>保护壳</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/nxlajbLtHHaH00OhSaAv.png" alt="">
                    <p>保护套</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/UWVgAL2WFNeoVHZRRE8s.png" alt="">
                    <p>贴膜</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/Xqw5avmFrpr7LGyNTZE0.png" alt="">
                    <p>个人电脑套件</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/18243553489515534281.jpg" alt="">
                    <p>电脑包</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/4PoI3AWlpGikrJtR0gfY.png" alt="">
                    <p>平板配件</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/oYGaqUtNyOAa8gj1a3Pc.png" alt="">
                    <p>智慧屏配件</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/ecDhrcKmmX2lMEJ6EWUN.png" alt="">
                    <p>穿戴配件</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">生态产品</a>
              </div>
            </div>
            <div class="category-panels category-panels-3">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/0fiZED1M3bzCZCtrmVuv.png" alt="">
                    <p>智能灯光</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/iR28UGaUlGGtocEkV5vg.png" alt="">
                    <p>生活电器</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/CjXb7nAKCcLrhloNO14u.png" alt="">
                    <p>数码周边</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/Hbh7GYts0Ye1ozqXQsqC.png" alt="">
                    <p>环境卫士</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/U8DruLnlMn8Mn4l8ankk.png" alt="">
                    <p>安防门锁</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/RJO1wsBU6rsbJeXf0kAl.png" alt="">
                    <p>健康保健</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/gGcXeKvu6bIKZUwMJhuK.png" alt="">
                    <p>运动健身</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/5Rf9Nz2tA6T0Hl7LQVGn.png" alt="">
                    <p>户外出行</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/Su3PP0R5phG77pi2PjHs.png" alt="">
                    <p>厨电卫浴</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/pAQE9qGrvT2kYOGERdmr.png" alt="">
                    <p>影音娱乐</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/isXiE0yeEU46E2DolmYs.png" alt="">
                    <p>个护美妆</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">美食饮酒</a>
              </div>
            </div>
            <div class="category-panels">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/55741948201614914755.png" alt="">
                    <p>甄选美酒</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/59609058201615090695.png" alt="">
                    <p>严选良食</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
          <li>
            <div class="category-item-bg">
              <div class="category-info">
                <a href="../views/mobileList.html" target="_blank">增值服务&企业商用</a>
              </div>
            </div>
            <div class="category-panels category-panels-2">
              <ul class="subcate-list">
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/ZQnJL2WVUmZvVDkFIDRE.png" alt="">
                    <p>华为视频卡</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/xrtZtMAu7qwZRV7drG4A.png" alt="">
                    <p>花币卡</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/qTEFwRvC8TEQ6qyHvIoB.png" alt="">
                    <p>华为音乐卡</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/ppk5HSXix5wsEv4KY0KQ.png" alt="">
                    <p>华为云空间</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/8J0Q5RpbK23FoBD4nX2h.png" alt="">
                    <p>电池更换服务</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/9xgKp8DlHGYOJTcuc4Qx.png" alt="">
                    <p>网络设备</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/96313949890614931369.png" alt="">
                    <p>企业智慧屏</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/frontCategory/32369229421612296323.png" alt="">
                    <p>UPS电源</p>
                  </a>
                </li>
                <li>
                  <a href="../views/mobileList.html" target="_blank">
                    <img src="https://res.vmallres.com/pimages//pages/navigation/alMghfvLjM8qE4wuTjY4.png" alt="">
                    <p>服务器</p>
                  </a>
                </li>
                <div class="subcate-list-more">
                  <a href="../views/mobileList.html" target="_blank">查看更多</a>
                </div>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 菜单栏 -->
<div class="home-channel-menu">
  <div class="container">
    <ul class="home-channel-list clearfix">
      <li class="s1 l">
        <div class="unlogin clearfix">
          <div class="l w-name">
            <img src="https://res.vmallres.com/2021020501/images/echannel/misc/img_not_logged_in.png" alt="">
          </div>
          <div class="l">
            <div class="gg_login_url">
              您好，请
              <a href="../views/login.html">登陆</a>
              <span> / </span>
              <a href="../views/registration.html">注册</a>
            </div>
            <div class="w-btn">
              <a href="" class="new">新人福利</a>
              <a href="">会员频道</a>
            </div>
          </div>
        </div>
      </li>
      <li class="s2 l">
        <ul class="clearfix">
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">企业购</div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">会员领券</div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">以旧换新</div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">P40系列</div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">华为数码</div>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <div class="p-img"></div>
              <div class="p-dec">智慧生活</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="s3 l">
        <div class="p-notice clearfix">
          <div class="icon-notice l">
            <a href="">公告</a>
          </div>
          <div class="p-notice-content l">
            <ul class="p-notice-list">
              <li><a href="" target="_blank">服务保障机型清单</a></li>
              <li><a href="" target="_blank">春节聚惠&情人节礼遇活动公告</a></li>
              <li><a href="" target="_blank">0元预约活动公告</a></li>
              <li><a href="" target="_blank">年货节主会场公告</a></li>
              <li><a href="" target="_blank">关于2021年春节期间智慧屏物流暂停发货通知公告</a></li>
            </ul>
          </div>
        </div>
        <div class="p-info">
          <ul class="clearfix">
            <li>
              <a href="" target="_blank">
                <span></span>
                优购码
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <span></span>
                更换电池
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <span></span>
                补购保障
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="home-promo-list clearfix">
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src="https://res.vmallres.com/pimages//pages/picImages/39232355221615323293.png" alt="">
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src="https://res.vmallres.com/pimages//pages/picImages/96584355221615348569.png" alt="">
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src="https://res.vmallres.com/pimages//pages/picImages/04603355221615330640.png" alt="">
        </a>
      </li>
      <li>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src="https://res.vmallres.com/pimages//pages/picImages/90554355221615345509.png" alt="">
        </a>
      </li>
    </ul>
    <!-- 热销单品 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>热销单品</h2>
      </div>
      <div class="content clearfix">
        <div class="l grid-items-sm">
          <a href="" target="_blank" rel="noopener noreferrer">
            <img src="https://res0.vmallres.com/pimages//frontLocation/content/84050343901614305048.jpg" alt="">
          </a>
        </div>
        <div class="l span-968">
          <ul class="grid-list clearfix" id="hotSale"></ul>
        </div>
      </div>
    </div>
    <!-- 精品推荐 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>精品推荐</h2>
      </div>
      <div class="goods-rolling">
        <ul class="swiper-wrapper clearfix"></ul>
        <div class="btn-prev grid-btn disable"></div>
        <div class="btn-next grid-btn"></div>
      </div>
    </div>
    <!-- 轮播图 -->
    <div class="home-banner-slideshow">
      <ul class="ec-slider-list">
        <li class="ec-slider-item">
          <div class="ec-slider-item-img">
            <img src="https://res.vmallres.com/pimages//pages/picImages/92833682921618633829.jpg" alt="">
          </div>
        </li>
        <li class="ec-slider-item">
          <div class="ec-slider-item-img">
            <img src="https://res.vmallres.com/pimages//pages/picImages/01194954121615949110.jpg" alt="">
          </div>
        </li>
        <li class="ec-slider-item">
          <div class="ec-slider-item-img">
            <img src="https://res.vmallres.com/pimages//pages/picImages/71725352701615352717.jpg" alt="">
          </div>
        </li>
        <li class="ec-slider-item">
          <div class="ec-slider-item-img">
            <img src="https://res.vmallres.com/pimages//pages/picImages/54374204521610247345.jpg" alt="">
          </div>
        </li>
      </ul>
      <ul class="dot clearfix">
        <li class="current"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- 手机 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>手机</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="mobile">
          <li class="grid-items grid-items-md">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/68480878160617808486.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 智能穿戴与运动健康 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>智能穿戴与运动健康</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="watch">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/43808183221618180834.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 耳机音箱眼镜 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>耳机音箱眼镜</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="headset">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/80503791990619730508.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 智慧屏 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>智慧屏</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="TV">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/83709109721610190738.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 笔记本电脑 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>笔记本电脑</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="laptop">
          <li class="grid-items grid-items-md">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/06556351711615365560.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 精品平板 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>精品平板</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="pad">
          <li class="grid-items grid-items-md">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/96394395800619349369.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 智能路由 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>智能路由</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="router">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/49689392301619398694.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 智慧生活馆 -->
    <div class="home-banner-slideshow">
      <ul class="ec-slider-list">
        <li class="ec-slider-item">
          <div class="ec-slider-item-img">
            <img src="https://res.vmallres.com/pimages//pages/picImages/m5eC5Aa47SGYLxHweJeY.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>
    <!-- 通用配件 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>通用配件</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="generalAccessories">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/73483492301619438437.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 生活精品 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>生活精品</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="life">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/14919247221614291941.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 美食酒饮 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>美食酒饮</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="wine">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/33247354611615374233.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 精选配件 -->
    <div class="home-recommend-goods">
      <div class="title">
        <h2>精选配件</h2>
      </div>
      <div class="content clearfix">
        <ul class="grid-list clearfix" id="selectedAccessories">
          <li class="grid-items grid-items-lg">
            <a href="" target="_blank" rel="noopener noreferrer">
              <img src="https://res0.vmallres.com/pimages//frontLocation/content/63933955821615933936.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  // 获取屏幕宽度
  $('.banner').css({
    'min-width': (window.screen.width) - 17,
    'width': (window.screen.width) - 17
  })
  let index = 0;
  let len = $('.imgBox li').size() - 1
  function clickRight() {
    index += 1
    if (index > len) {
      index = 0
    }
    change(index)
  }
  function clickLeft() {
    index -= 1
    if (index < 0) {
      index = len
    }
    change(index)
  }
  function change(index) {
    $('.imgBox li').eq(index).fadeIn().siblings().fadeOut()
    $('.dotBox li').eq(index).addClass('active').siblings().removeClass('active')
  }
  $('.next').on('click', clickRight)
  $('.prve').on('click', clickLeft)
  let time = setInterval(clickRight, 3000)
  $('.banner').on('mouseenter', function () {
    clearInterval(time)
  })
  $('.banner').on('mouseleave', function () {
    time = setInterval(clickRight, 3000)
  })
  $('.dotBox li').on('mouseover', function () {
    index = $(this).index()
    change($(this).index())
  })
  var num = $(".p-notice-list").find("li").length;
  if (num > 1) {
    setInterval(function () {
      $('.p-notice-list').animate({
        marginTop: "-26px"
      }, 450, function () {
        $(this).css({ marginTop: "0" }).find("li:first").appendTo(this);
      });
    }, 3000);
  }
  // 数据请求
  function getData(ele, base) {
    $.ajax({
      url: '../dataBase.json',
      type: 'get',
      dataType: 'json',
      cache: false,
      success: function (json) {
        var domStr = ''
        $.each(json, function (index, item) {
          for (let i = 0; i < item[base].length; i++) {
            domStr += `
          <li class="grid-items">
            <a href="../../views/detail.html?id=${i}&data=${base}">
              <div class="grid-info">
                <div class="grid-img">
                  <img src="${item[base][i].imgSrc}" alt="">
                </div>
                <div class="grid-desc">${item[base][i].desc}</div>
              </div>
              <div class="grid-title">${item[base][i].title}</div>
              <div class="grid-price">¥${item[base][i].price}</div>
            </a>
          </li>
          `
          }
        })
        $(ele).append(domStr)
      }
    })
  }
  // 请求热销单品列表数据
  getData('#hotSale', 'hotSale')
  // 请求精品推荐列表数据
  $.ajax({
    url: '../dataBase.json',
    type: 'get',
    dataType: 'json',
    cache: false,
    success: function (json) {
      var domStr = ''
      $.each(json, function (index, item) {
        for (let i = 0; i < item.recommended.length; i++) {
          domStr += `
          <li class="grid-items">
            <a href="../../views/detail.html?id=${i}&data=recommended">
              <div class="grid-info">
                <div class="grid-img">
                  <img src="${item.recommended[i].imgSrc}" alt="">
                </div>
                <div class="grid-desc">${item.recommended[i].desc}</div>
              </div>
              <div class="grid-title">${item.recommended[i].title}</div>
              <div class="grid-price">¥${item.recommended[i].price}</div>
            </a>
          </li>
          `
        }
      })
      $('.swiper-wrapper').html(domStr)
    }
  })
  $('.swiper-wrapper').ajaxComplete(function () {
    // 精品推荐轮播
    $('.btn-next').on('click', next)
    $('.btn-prev').on('click', prev)
    let lis = $('.swiper-wrapper li').innerWidth()
    let liLen = ($('.swiper-wrapper').innerWidth() / lis)
    let l = 5
    let i = 0
    function next() {
      i += l
      if (i >= liLen) {
        i = 0
      }
      if (i === 0) {
        $('.btn-prev').addClass('disable')
      } else {
        $('.btn-prev').removeClass('disable')
      }
      if (i >= liLen - 1) {
        $('.btn-next').addClass('disable')
      }
      move(i)
    }
    function prev() {
      i -= l
      if (i < 0) {
        i = liLen
      }
      if (i === 0) {
        $('.btn-prev').addClass('disable')
      } else {
        $('.btn-prev').removeClass('disable')
      }
      if (i != liLen - 1) {
        $('.btn-next').removeClass('disable')
      }
      move(i)
    }
    function move(i) {
      $(".swiper-wrapper").stop().animate({ left: -(lis * i) }, 360);
    }
  })
  let imgLen = $('.ec-slider-list li').size() - 1
  let idx = 0
  let timer = setInterval(moveNext, 3000)
  function moveNext() {
    idx += 1
    if (idx > imgLen) {
      idx = 0
    }
    show(idx)
  }
  function show(i) {
    $('.ec-slider-list li').eq(i).fadeIn().siblings().fadeOut()
    $('.dot li').eq(i).addClass('current').siblings().removeClass('current')
  }
  $('.dot li').on('mouseover', function () {
    idx = $(this).index()
    show($(this).index())
  })
  $('.home-banner-slideshow ').on('mouseenter', function () {
    clearInterval(timer)
  })
  $('.home-banner-slideshow ').on('mouseleave', function () {
    timer = setInterval(moveNext, 3000)
  })
  // 请求手机列表数据
  getData('#mobile', 'mobile')
  // 请求智能穿戴与运动健康列表
  getData('#watch', 'watch')
  // 请求耳机音箱眼镜列表
  getData('#headset', 'headset')
  // 请求智慧屏
  getData('#TV', 'TV')
  // 笔记本电脑
  getData('#laptop', 'laptop')
  // 精品平板
  getData('#pad', 'pad')
  // 智能路由
  getData('#router', 'router')
  // 通用配件
  getData('#generalAccessories', 'generalAccessories')
  // 生态精品
  getData('#life', 'life')
  // 美食酒饮
  getData('#wine', 'wine')
  //  精选配件
  getData('#selectedAccessories', 'selectedAccessories')
  // 登陆
  if (localStorage.getItem('ShowUser')) {
    const user = localStorage.getItem('ShowUser')
    let html = `您好，${user}</a>`
    $('.gg_login_url').html(html)
  } else {
    let html = `您好，请
              <a href="../views/login.html">登陆</a>
              <span> / </span>
              <a href="../views/registration.html">注册</a>`
    $('.gg_login_url').html(html)
  }
</script>