<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/nav.css">
</head>

<body>
  <!-- 头部导航栏 -->
  <header id="head" class="container-fluid">
    <div class="container clearfix">
      <div class="head-l l">
        <ul class="head-list">
          <li>
            <a href="javascript:;">首页</a>
          </li>
          <li>
            <a href="javascript:;">华为官网</a>
          </li>
          <li>
            <a href="javascript:;">花粉俱乐部</a>
          </li>
          <li>
            <a href="javascript:;">V码（优购码）</a>
          </li>
          <li>
            <a href="javascript:;">企业购</a>
          </li>
          <li>
            <a href="javascript:;">select Region</a>
          </li>
          <li>
            <div class="s-dropdown">
              <div class="show">
                <a class="icon-dropdown">更多精彩</a>
              </div>
              <div class="hide">
                <div class="dropdown">
                  <dl>
                    <dt>
                      <a href="javascript:;">EMUI</a>
                    </dt>
                    <dt>
                      <a href="javascript:;">应用市场</a>
                    </dt>
                    <dt>
                      <a href="javascript:;">华为终端云空间</a>
                    </dt>
                    <dt>
                      <a href="javascript:;">开发者联盟</a>
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="head-r r">
        <ul class="head-list">
          <li>
            <div class="login">
              <a href="javascript:;">请登录</a>
              <a href="javascript:;">&nbsp;注册</a>
            </div>
          </li>
          <li>
            <a href="javascript:;">我的订单</a>
          </li>
          <li>
            <div class="s-dropdown">
              <div class="show">
                <a class="icon-dropdown">
                  客户服务
                </a>
              </div>
              <div class="hide">
                <div class="dropdown service">
                  <dl>
                    <dt>
                      <a href="javascript:;">服务中心</a>
                    </dt>
                    <dt>
                      <a href="javascript:;">联系客服</a>
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="s-dropdown">
              <div class="show">
                <a class="icon-dropdown">网站导航</a>
              </div>
              <div class="hide">
                <div class="dropdown-navs clearfix">
                  <div class="dropdown-navs-icon l">
                    <a href="./index.html">
                      <span></span>
                      商城首页
                    </a>
                  </div>
                  <dl class="l">
                    <dt>频道</dt>
                    <dd><a href="">华为专区</a></dd>
                    <dd><a href="">企业购</a></dd>
                  </dl>
                  <dl class="l">
                    <dt>产品</dt>
                    <dd><a href="">手机</a></dd>
                    <dd><a href="">笔记本</a></dd>
                    <dd><a href="">平板</a></dd>
                    <dd><a href="">智能穿戴</a></dd>
                    <dd><a href="">智能家居</a></dd>
                    <dd><a href="">智慧屏</a></dd>
                    <dd><a href="">耳机音箱</a></dd>
                    <dd><a href="">热销配件</a></dd>
                    <dd><a href="">生态产品</a></dd>
                    <dd><a href="">增值服务</a></dd>
                  </dl>
                  <dl class="l">
                    <dt>增值服务</dt>
                    <dd><a href="">以旧换新</a></dd>
                    <dd><a href="">补够保障</a></dd>
                    <dd><a href="">一口价换电池</a></dd>
                  </dl>
                  <dl class="l">
                    <dt>会员</dt>
                    <dd><a href="">会员频道</a></dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="s-dropdown">
              <div class="show">
                <a class="icon-dropdown">手机版</a>
              </div>
              <div class="hide">
                <div class="dropdown-code">
                  <div class="dropdown-code-detail clearfix">
                    <a href=""><img src="../img/p1.png" alt=""></a>
                    <div class="code-info">
                      <h2>华为商城APP</h2>
                      <p class="code-info-red">
                        新人专享好礼<br>
                        最高5000积分
                      </p>
                      <span class="icon-android l"></span>
                      <span class="icon-ios l"></span>
                      <span class="icon-wechat l"></span>
                    </div>
                  </div>
                  <div class="dropdown-code-detail clearfix">
                    <a href=""><img src="../img/p2.jpg" alt=""></a>
                    <div class="code-info">
                      <h2>华为商城公众号</h2>
                      <p>微信扫一扫</p>
                      <span class="icon-wechat l"></span>
                    </div>
                  </div>
                  <div class="dropdown-code-detail clearfix">
                    <a href=""><img src="../img/p3.jpg" alt=""></a>
                    <div class="code-info">
                      <h2>华为商城小程序</h2>
                      <span class="icon-wechat l"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="s-dropdown shopcart">
              <div class="show">
                <a class="icon-minicart">购物车(<span class="cloum">0</span>)</a>
              </div>
              <div class="hide">
                <div class="dropdown-minicart">
                  <div class="minicart-empty">
                    <p><span class="icon-minicart"></span></p>
                    <p>您的购物车是空的，赶紧选购吧~</p>
                  </div>
                  <div class="minicart-list">
                    <ol class="minicart-goods">
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="minicart-goods-item">
                        <div class="pro-info clearfix">
                          <div class="checked l">
                            <i class="icon-choose-normal"></i>
                            <input type="checkbox">
                          </div>
                          <div class="img l">
                            <a href=""><img src="../img/shopcart.png" alt=""></a>
                          </div>
                          <div class="title r">
                            <a href="">【新品】HUAWEI MateBook X Pro 2021款 13.9英寸全新11代酷睿i5 16G 512G 商务轻薄笔记本 3K触控全面屏 锐炬显卡
                              多屏协同
                              皓月银</a>
                          </div>
                          <div class="p-status r">
                            <div class="p-price">
                              <b>¥ 2333</b>
                              <strong>
                                <i>x</i>
                                <span>1</span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <div class="settlement clearfix">
                      <div class="settlement-l l">
                        <p>总计:</p>
                        <span>
                          <b>¥ 2333</b>
                        </span>
                      </div>
                      <a class="settlement-btn r" href="">结算</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
</body>
</html>